
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.portraitBox {
    border: var(--border-style);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-color: #e0d5c1;
    position: relative;
    overflow: hidden;
}

.portraitInput {
    background: rgba(255,255,255,0.8) !important;
    border-top: 1px solid var(--ink-black) !important;
    font-size: 0.8rem !important;
    padding: 2px;
    text-align: center;
    border-bottom: none !important;
}

.titlesBox {
    border: var(--border-style);
    padding: 15px;
    height: 100%;
}
